
button, .button {
    display: inline-block;
    position: relative;
    outline: none;
    border: 0;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0;
    font-size: 0.9rem;
    line-height: 1;
    cursor: pointer;
    background: transparent;
    color: orange;
    border: 1px solid #fff;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    font-weight:600;
}

button + button,
.button + .button {
    margin-left: 1rem;
}

button:hover, .button:hover {
    border-color: orange;
    background:  orange;
    color:#fff;
}

.button-reverse{
    color: #fff;
    background: orange;
    border: 2px solid orange;
}

.button-reverse:not(.disabled):hover {
    color:orange;
    background: #fff;
}

.button-reverse.cancel{
    color: #fff;
    background: tomato;
    border: 2px solid tomato;
}

.button-reverse.cancel:not(.disabled):hover {
    color:tomato;
    background: #fff;
}

.button.disabled{
    opacity: 0.3;
    cursor: default;
}
