.site-header,
.site-footer {
    padding: 0.7rem 1rem;
    background: #333;
}

.site-header {
    padding-top: 0;
}

.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.site-header p {
    padding: 0;
    color: white;
}


.site-footer p {
    text-align: center;
    padding: 0;
    color: #ccc;
}

.site-header a,
.site-footer a {
    text-decoration: none;
}


.logo {
    font-size: 3rem;
    font-weight: bold
}


.logo .fa-paw {
    font-size: 0.9em;
    padding: 0.5rem;
}

.slogan {
    font-style: initial;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    color: white;
}

.site-content {
    min-height: 77vh;
}

.site-content a:not(.button),
.logo a,
.site-footer a {
    color: orange
}
/* Guest pages */
.guest .site-index {   
    padding: 8rem 0;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.guest .site-index h1 {
    font-size: 5rem;
    margin: 0 0 2rem 0;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
}

.guest .site-index .site-description {
    color: #ccc;
    width: 60%;
    margin: 0 auto;
}

.site-login {
    padding: 5rem 0;
}

.guest {
    background: #555;
}

/* User adn Admin pages */
.admin,
.user {
    background: #eee;
}

.site-catalog,
.admin .site-index,
.user .site-index {
    padding: 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.site-details{
    display: block;
    text-align: center;
    padding: 2rem 0;
}

.site-catalog h1,
.admin .site-index h1,
.user .site-index h1 {
    flex: 1 0 100%;
    text-align: center;
}

.admin .site-catalog h1:after,
.user .site-index h1:after {
    display: block;
    content: "";
    padding-bottom: 2px;
    width:30%;
    margin: 0 auto;
    margin-top:2.5rem ;
    background: orange;
    background-image: linear-gradient(to right, #ddd, orange, #ddd);
}

.site-details .card{
    width: 60%;
    margin: 0 auto;
}


.site-details h2 {
    color:#333;
    font-weight: bold;
}


.site-details p>span{
    padding-right: 0.7rem;
    font-weight: bold;
    color:orange;
}

.site-details .content p:last-of-type{
    padding-top: 1rem;
    font-size: 0.8rem;
    font-style: italic;
    color:#999;
}

.watch-list{
    width:60%;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.watch-list h2, h5,hr {
    flex:1 0 100%;
}
.watch-list .card{
    flex:0 0 26%;
    margin-bottom: 2rem;
}

.watch-list hr{
    margin: 0 auto;
    margin-bottom:2rem;
}
/*For messages*/
.toast-container {
    font-size: 0.9rem;
    text-align: center;
    padding: 1rem;
    opacity: 0.8;
}

/*For Page Not Found*/
.not-found {
    text-align: center;
    padding-top:8rem; 
    height: 100%;
}
.not-found h2{
    font-size:3rem;
    color:white
}
.not-found i{
    font-size:5rem;
    color: orange
}

@media screen and (max-width:1200px) {

    .watch-list .card{
        flex:0 0 45%;
    }

    .site-details .card{
        width: 80%;
    }
}

@media screen and (max-width:900px) {
    .guest .site-index .site-description {
        width:80%;
    }
    .watch-list {
        display: block;
    }
    .watch-list .card{
        width: 100%;
    }
    .site-details .card{
        width: 100%;
    }
    .site-catalog,
    .admin .site-index,
    .user .site-index,
    .site-details {
        padding: 2rem 2rem;
    }
}


